*, *::before, *::after {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  font-size: 1em;
}

div.repeat:nth-child(6n+1) {
	clear: both;
}

/* Portrait tablets and small desktops col-sm */
@media(min-width: 768px) and (max-width: 991px) {
	div.repeat:nth-child(3n+1) {
		clear: both;
	}
}

/*Landscape phones and portrait tablets col-xs*/
@media (max-width: 767px) {
	div.repeat:nth-child(2n+1) {
		clear: both;
	}
}

/* Portrait phones and smaller colxs*/
@media (maxwidth: 480px) {
	div.repeat:nthchild(2n+1) { 
		clear: both
	}
}

select {
	padding: 0.5em;
	border-radius: 5px;
	font-size: 1.4em;
}